.view-all-bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
    margin: 1.5em;
    color: coral;
}
.booking-item{
    margin: 1em;
    background-color: aliceblue;
    padding: 1em;
    opacity: 0.8;
    border-radius: 0.5em;
}